/// =================================================================================
/// Grid-related
/// =================================================================================
$dark: #3c3d2f;
$light--yellow: #fcf5e3;
$pink: #eb9f9f;
$darkpink: #f18f90;
$yellow: #ffd26e;
$green: #326c5e;
